<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
       
        $(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#f')[0]);
        $.ajax({
            type: 'POST',
            url: '/image_gatway',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                alert(data);
                document.getElementById('name').value=data[0];
                document.getElementById('gender').value=data[1];
                document.getElementById('adhar_no').value=data[2];
                document.getElementById('mobile_no').value=data[3];
                document.getElementById('dob').value=data[4];
                     
            },
        });
    });
});
</script>


<!-- <div class='container'>
    <h3>capture</h3>
            <a id="f" href="#" id=test><button class='btn btn-default'>Test</button></a>
        </form>

</div> -->

<html>
  <head>
    <title>Smart-KYC</title>
  </head>
  <body>
          <form id="f" onsubmit="return false" enctype="multipart/form-data">
        
    <h1><center>Smart_kyc</center></h1>
        <input name='file' type="file" accept="image/*" capture="camera" />
        <a href="#" id=test><button id ="upload-file-btn" class='btn btn-default'>Test</button></a><p>&nbsp</p>
        <p>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;      <input id="name" type="text"/></p><p>&nbsp</p>
        <p>Gender:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <input id="gender" type="text"/></p><p>&nbsp</p>
        <p>DOB:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       <input id="dob" type="text"/></p><p>&nbsp</p>
        <p>Adhar no.: &nbsp;<input id="adhar_no" type="text"/></p><p>&nbsp</p>
        <p>Mobile no: &nbsp;<input id="mobile_no" type="text"/></p><p>&nbsp</p>
        
        </form>
  </body>
</html>